.table-container {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 30px;
}

.sort-button, .items-per-page-select {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.cruise-table {
  width: fit-content;
  border-collapse: collapse;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.cruise-table th, .cruise-table td {
  border: 1px solid var(--text-color);
  padding: 12px 16px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.cruise-table th {
  background-color: var(--secondary-color);
  color: black;
}

.cruise-table tr:nth-child(even) {
  background-color: var(--table-row-even);
  color: var(--table-row-text);
}

.cruise-table tr:nth-child(odd) {
  background-color: var(--table-row-odd);
  color: var(--table-row-text);
}
